.heading {
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans);
}

.color-primary {
  color: var(--color-primary);
}

.color-base {
  color: var(--color-font-base);
}

.color-inverted {
  color: var(--color-font-inverted);
}

.size-md {
  font-size: var(--font-size-md);
}

.size-sm {
  font-size: var(--font-size-sm);
}

.size-xs {
  font-size: var(--font-size-xs);
}

.size-lg {
  font-size: var(--font-size-lg);
}

.size-xl {
  font-size: var(--font-size-xl);
}

.size-2xl {
  font-size: var(--font-size-2xl);
}
