.button {
  border: var(--border-width-default) solid var(--color-transparent);
  padding: 10px 20px;
  border-radius: var(--border-radius-lg);
  box-shadow: 0px 4px 5px var(--box-shadow-sm);
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: var(--font-size-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: var(--button-max-width);
  /* white-space: nowrap; */ /* Bloquear palabras en dos lineas en botones */
  min-width: max-content;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans);
  height: 45px;
}

.is-block {
  width: 100%;
}

.type-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  filter: brightness(0.9);
}

.type-secondary {
  background: var(--color-transparent);
  color: var(--color-primary);
  border: var(--border-width-default) solid var(--color-primary);
}

.type-tertiary {
  /* --color-transparent: blue; */
  background: var(--color-transparent);
  color: var(--color-primary);
  box-shadow: var(--shadows-none);
  padding: 0;
  border-bottom: var(--border-width-default) solid var(--color-primary);
  border-radius: var(--border-radius-none);
  height: auto;
}
